
/* FUNDO DO SITE*/
body {
    background-color: rgb(0, 0, 0);


/* MENU */
nav a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
}


/* PAGINA INICIAL*/

.tituloPrincipal{
    font-size: 60px;
    color: rgb(250, 247, 247);
    text-align:left;
    margin-left: 5%;
    padding-top: 10%;  
}


/* REDES SOCIAIS*/
.redesSociais{
    text-align: left;
    margin-left: 80px;
    display: block;
}


/* FOTOS */
.fotoApresentacao{
    text-align: left;
    margin-left: 950px;
    margin-top: -310px;
}

.fotoLivro{
    text-align: left;
    margin-left: 80px;
}


/* ICONES*/

.iconDev{
    text-align: left;
    margin-left: 100px;
}

.iconFormacao{
    text-align: left;
    margin-left: 100px;
}


/* PARAGRAFOS*/

.pFormacao{
    margin-top: -150px;
}

.pSobreMim{
    margin-top: -150px;
}

.projetoLivro{
    margin-top: -240px;
}

/* GERAL*/

h1{
    color: #e5f2fd;
    text-align: left;
    margin-left: 70px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: #e5f2fd;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 400px;
    display: flex;
    flex-direction: column;  /* Organiza as linhas verticalmente */
    width: 800px;            /* Define a largura do contêiner */
    word-wrap: break-word;
    ;
}

/* BOTÃO VISUALIZAR */

.visualizar{
    width: 100px; /* Largura */
      padding: 20px; /* Espaçamento interno */
      text-align: center; /* Centraliza o texto */
      border: 2px solid white; /* Borda branca */
      background-color: black; /* Fundo preto */
      color: white; /* Cor do texto */
      font-size: 16px; /* Tamanho da fonte */
      cursor: pointer; /* Cursor em formato de mão */
      transition: all 0.3s ease; /* Efeito de transição */
}

.visualizar:hover {
    border-color: rgb(255, 255, 255); /* Cor da borda ao passar o mouse */
    background-color: rgb(13, 167, 228); /* Fundo azul */
    color: white; /* Cor do texto permanece branca */
  }